/* MY AWESOME WEBSITE */

@import 'normalize';
@import 'mediaelementplayer';
@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800|Roboto+Slab');

$bg : url(../img/smokeybg.png);
$color-primary : white;


body{
    background: $bg;
    color: $color-primary;
}

h1{
    color: red;
    font-family: 'Coda Caption', sans-serif;   
}

p{
    color: white;
    font-family: 'Roboto Slab', serif;
}

.page{
    display: flex;
}
header,
section,
main,
article,
aside,
footer{
    flex:1
}




//Lettering Style Temp
.char1{
    color: white;
}
.char2{
    color: white;
}
.char3{
    color: white;
}