/* MY AWESOME WEBSITE */

@import 'normalize';
@import 'mediaelementplayer';

$bg : #040f4a;
$color-primary : white;



body{
    background: $bg;
    color: $color-primary;
}

h1{
    color: red;
    font-family: 'suess', sans-serif;
    
}

//Lettering Style Temp
.char1{
    color: white;
}