/* MY AWESOME WEBSITE */

@import "normalize";
@import "grid";
@import "mediaelementplayer.scss";
@import "main";
@import "media-queries";
@import url("https://fonts.googleapis.com/css?family=Coda+Caption:800|Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Creepster");

$bg : url(../img/smokeybg.png);
$color-primary : pink;


body{
    background: $bg;
    color: $color-primary;
}

h1{
    color: #c30000;
    font-family: 'Creepster', cursive;
    font-size: 8em;
}

h2{
    color: red;
    font-family: 'Coda Caption', sans-serif;
    font-size: 2em;
}

p{
    color: white;
    font-family: 'Roboto Slab', serif;
}

.page{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: space-around;
}
header{
    display: flex;
    justify-content: center;
}
section,
main,
article,
aside,
footer{
    flex:1
}




/*Lettering Style Temp
.char1{
    color: pink;
}
*/
