/* MY AWESOME WEBSITE */

@import "normalize";
@import "grid";
@import "mediaelementplayer.scss";
@import "main";
@import "media-queries";
@import url("https://fonts.googleapis.com/css?family=Coda+Caption:800|Roboto+Slab");

$bg : url(../img/smokeybg.png);
$color-primary : pink;


body{
    background: $bg;
    color: $color-primary;
}

h1{
    color: red;
    font-family: 'Coda Caption', sans-serif;
    font-size: 3em;
}

p{
    color: white;
    font-family: 'Roboto Slab', serif;
}

.page{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: space-around;
}
header,
section,
main,
article,
aside,
footer{
    flex:1
}




//Lettering Style Temp
.char1{
    color: white;
}
.char2{
    color: white;
}
.char3{
    color: white;
}
